* {
  padding: 0 !important;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

nav {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
nav .logo {
  width: auto;
  height: auto;
}
nav .logo img {
  width: 100px;
  height: 70px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  gap: 15px;
}
.navbar-nav .nav-link {
  display: inline-block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  justify-content: flex-end;
  align-items: center;
  color: #1a6166 !important;
}
.navbar-nav .nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.navbar-nav .nav-link:hover:after {
  width: 100%;
  background: #514c4c;
}