* {
  padding: 0 !important;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

nav {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
nav .logo {
  width: auto;
  height: auto;
}
nav .logo img {
  width: 100px;
  height: 70px;
}
nav button:onfocus {
  outline: none !important;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar__container {
    padding: 0 25px !important;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  gap: 15px;
}
.navbar-nav .nav-link {
  display: inline-block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  justify-content: flex-end;
  align-items: center;
  color: #1a6166 !important;
}
@media screen and (max-width: 800px) {
  .navbar-nav .nav-link {
    text-align: center;
  }
}
.navbar-nav .nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.navbar-nav .nav-link:hover:after {
  width: 100%;
  background: #514c4c;
}
@media screen and (max-width: 800px) {
  .navbar-nav .nav-link:hover:after {
    width: 25%;
  }
}

footer {
  position: relative;
  height: auto;
  color: white;
  background-color: #040a1f;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1500px) and (min-width: 700px) {
  footer .footer__container {
    flex-direction: row !important;
    justify-content: space-between;
    padding: 10px 0 !important;
  }
}
footer span {
  margin-top: 2rem;
}
@media screen and (max-width: 1500px) and (min-width: 700px) {
  footer span {
    margin: 0 !important;
  }
}
footer .follow, footer ul .follow-ul {
  color: #7a7676;
}
@media screen and (max-width: 1500px) and (min-width: 700px) {
  footer .follow, footer ul .follow-ul {
    display: none !important;
  }
}
footer ul {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1.5rem;
}
@media screen and (max-width: 1500px) and (min-width: 700px) {
  footer ul {
    align-items: center;
    margin: 0 !important;
  }
}
footer ul .follow-ul {
  display: none !important;
}
@media screen and (max-width: 1500px) and (min-width: 700px) {
  footer ul .follow-ul {
    display: block !important;
  }
}
footer ul img {
  width: 20px;
  color: grey;
}
footer .cp {
  margin-top: 3rem;
  color: #7a7676;
}
@media screen and (max-width: 1500px) and (min-width: 700px) {
  footer .cp {
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    position: relative;
    height: auto !important;
  }
}
main .hero {
  height: auto;
}
main .hero h1 {
  padding-top: 4em !important;
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 400;
  color: #353333;
}
@media screen and (max-width: 768px) {
  main .hero h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  main .hero h1 {
    padding-top: 3.9rem !important;
    font-size: 3.5rem;
  }
}
main .hero .search-bar {
  margin: 1.5rem auto;
  border-radius: 100px;
  width: 250px;
  outline: none;
  border: 1px solid #2a2ae7 !important;
  background-color: #c4c4c4;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  main .hero .search-bar {
    width: 500px;
    height: 2rem;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  main .hero .search-bar {
    width: 500px;
    height: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  main .hero .search-bar {
    width: 700px;
  }
}
main .hero .search-bar input {
  border: none;
  width: 80%;
  outline: none;
  background: transparent;
}
main .hero .search-bar button {
  border: none;
  color: #514c4c;
  background: transparent;
}
main .hero .search-bar button .fa-search {
  height: 10px;
  width: 8px;
  outline: none;
}

.aside__section {
  position: relative;
  height: auto !important;
  background-color: #c4c4c4;
}
@media screen and (max-width: 992px) {
  .aside__section {
    padding: 20px 0 !important;
  }
}
@media screen and (max-width: 1600px) and (min-width: 992px) {
  .aside__section {
    padding: 2rem 0 !important;
  }
}
.aside__section .tagline {
  padding: 2rem 0 !important;
  font-family: "Lobster", cursive;
  color: #303185;
  font-size: 2.5rem;
}
@media screen and (max-width: 1400px) and (min-width: 768px) {
  .aside__section .tagline {
    padding-left: 3rem !important;
    letter-spacing: 2px;
  }
}
.aside__section .tagline br {
  display: none;
}
@media screen and (max-width: 1200px) {
  .aside__section .tagline br {
    display: block;
  }
}
.aside__section .tagline span {
  color: #c83434;
  font-size: 30px !important;
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  .aside__section .tagline span {
    font-size: 3rem !important;
  }
}

aside {
  height: auto;
}
@media screen and (max-width: 1400px) and (min-width: 768px) {
  aside {
    width: 100% !important;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: space-between !important;
  }
}
aside .aside__container {
  border: none;
  border-radius: 10px;
  padding: 1rem 0.5rem 3rem 0.5rem !important;
  background-color: #7a7676;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  aside .aside__container {
    margin: 0 auto;
    max-width: 270px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  aside .aside__container {
    padding: 1.5rem 1.3rem 3rem 1.3rem !important;
  }
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  aside .aside__container {
    position: relative;
    top: -9rem;
    margin-right: 7rem;
    padding: 1.5rem 1.3rem 3rem 1.3rem !important;
  }
}
aside .aside__container .aside__container_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-basis;
}
aside .aside__container .aside__container_header div {
  width: 12px;
  height: 12px;
  margin-left: 5px !important;
  border-radius: 100px;
  box-shadow: inset 1px 1px 4px black;
  background: white;
  opacity: 1 !important;
}
aside .aside__container .aside__container_header h2 {
  margin-bottom: 10px;
  margin-right: 5px !important;
  text-align: right;
  font-size: 14px;
  color: white;
  font-style: italic;
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
}
aside .aside__container_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
aside .aside__container_button .consult-online, aside .aside__container_button .check-appointment {
  width: 200px;
  padding: 15px 0 !important;
  margin: 10px 0;
  border-radius: 8px;
  border: none !important;
  box-shadow: inset 1px 1px 4px black;
  background-color: #e15100;
  color: white !important;
  font-weight: bold !important;
  font-size: 15px;
  letter-spacing: 2px;
  opacity: 1 !important;
}
aside .aside__container_button .check-appointment {
  background-color: #059c1d;
}