main{
    // background-color: $alabaster;
    @include breakPoints(768px){
        position: relative;  //making it not overlaps the about
        height: auto !important;
        
    }
 
//hero section---------------------------------------------
    .hero{
        height: auto;    
    
        h1{
            padding-top: 4em !important;
            font-family:  $font-second;
            font-size: 3em;
            font-weight: $regular;
            color: $mine-shaft;


            @include breakPoints(768px){
                font-size:2em;
            }

            @include breakPoints(1400px, 992px){
                padding-top: 3.9rem !important;
                font-size: 3.5rem;
            }
        }

        .search-bar{
            margin: 1.5rem auto;
            border-radius: 100px;
            width: 250px;
            outline: none;
            border: 1px solid $persian-blue !important;
            background-color: $silver;


            @include breakPoints(992px, 768px){
                width: 500px;
                height: 2rem;
                margin: 2rem auto;
    
            }

            @include breakPoints(1400px, 992px){
                width: 500px;
                height: 2rem;
                margin-top: 5rem;
                margin-bottom: 5rem;
                margin-left: 3rem;
            }

            @include breakPoints(1400px, 1200px){
                width: 700px;
            }

            input{
                border: none;
                width: 80%;
                outline: none;
                background: transparent;    
                
            }

            button {
                border: none;
                color: $emperor;
                background: transparent;

                .fa-search{
                    height: 10px;
                    width: 8px;
                    outline: none;
                   
                }
            }
        }


    }

}
    //aside sections------------------------------------------------------------

        .aside__section{
            position: relative;
            height: auto !important;
            background-color:$silver;
           

            @include breakPoints(992px){
                padding: 20px 0 !important;

            }

            @include breakPoints(1600px, 992px){
                padding: 2rem 0 !important;
            }

            .tagline{
                padding: 2rem 0 !important;
                font-family: $font-third;
                color: $minsk;

                @include breakPoints(1400px, 768px){
                    padding-left: 3rem !important;
                    letter-spacing: 2px;
                    font-size:2.5rem;

                }

                span{
                    color: $flash-mahogany;
                    font-size: 30px !important;

                    @include breakPoints(1400px, 992px){
                        font-size: 3rem !important;
                    }
                }

            }
        }




aside{
    height: auto;

    @include breakPoints(1400px, 768px){
        width: 100% !important;
        display: flex;
        flex: 1;
        flex-direction:row-reverse;
        justify-content:space-between !important;
       
    }

    .aside__container{
        border: none;
        border-radius: 10px;
        padding: 1rem .5rem 3rem .5rem !important;
        background-color: $boulder;
        opacity: 1;

        @include breakPoints(768px){
            margin: 0 auto;
            max-width: 270px;
        }

        @include breakPoints(992px, 768px){
            padding: 1.5rem 1.3rem 3rem 1.3rem !important;
        }

        @include breakPoints(1400px, 992px){
            position: relative;
            top: -9rem;
            margin-right: 7rem;
            padding: 1.5rem 1.3rem 3rem 1.3rem !important;
         
        }

        .aside__container_header{
            display: flex;
            justify-content: space-between;
            align-items: flex-basis;

            div{
                width:12px;
                height:12px;
                margin-left: 5px !important;
                border-radius: 100px;
                box-shadow: inset 1px 1px 4px $black;
                background: $white;
                opacity: 1 !important;
            }
            
            h2{
                margin-bottom: 10px;
                margin-right: 5px !important;
                text-align: right;
                font-size: 14px;
                color: $white;
                font-style: italic;
                font-family: $font-third;
                letter-spacing:2px;
    
            }
        }

        
        
    }

    .aside__container_button{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .consult-online{
            width: 200px;
            padding: 15px 0 !important;
            margin: 10px 0;
            border-radius: 8px;
            border: none !important;
            box-shadow: inset 1px 1px 4px $black; 
            background-color: $trinidad;
            color: $white !important;
            font-weight: bold !important;
            font-size: 15px;
            letter-spacing: 2px;
            opacity: 1 !important;
        }

        .check-appointment{
            @extend .consult-online;
            background-color: $salem;
        }
    }
}

