footer{
    position:relative;
    height: auto;
    color: $white;
    background-color: $black-pearl;

    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakPoints(1500px, 700px){
            flex-direction: row !important;
            justify-content: space-between;
            padding: 10px 0 !important;
    
            
        }
    
    }

    span{
        margin-top: 2rem;

        @include breakPoints(1500px, 700px){
            margin: 0 !important;
        }
    }

    .follow{
        color:$boulder; 

        @include breakPoints(1500px, 700px){
            display: none !important;
        }
    }

    ul{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 1.5rem;

        @include breakPoints(1500px, 700px){
            align-items: center;
            margin: 0 !important;
        }

        .follow-ul{
            @extend .follow;
            display: none !important;

            @include breakPoints(1500px, 700px){
                display: block !important;
            }
            
        }
    
        img{
            width: 20px;
            color: grey;
        }
    }

    .cp{
       
        margin-top: 3rem;
        color: $boulder;

        @include breakPoints(1500px, 700px){
            margin: 0 !important;
        }
    
    }

}


