
//navigation colors
$bluemine: rgb(26, 97, 102);


//heading
$mine-shaft: rgb(53, 51, 51);

//text
$white: rgb(255, 255, 255);
$flash-mahogany: rgb(200, 52, 52);

//background
$alabaster: rgb(248, 248, 248);
$silver: rgb(196, 196, 196);
$emperor: rgb(81, 76, 76);
$boulder:rgb(122, 118, 118);
$black-pearl: rgb(4, 10, 31);
$trinidad: rgb(225, 81, 0);
$salem: rgb(5, 156, 29);
$minsk: rgb(48, 49, 133);

//searchbard border
$persian-blue: rgb(42, 42, 231);

//random
$black: rgb(0, 0, 0);